<h1>Recent posts</h1>

<table>
  <% @posts.each do |post| %>
    <tr><h4><%= post.title.camelize %></h4></tr>
    <tr><%= simple_format(truncate(post.description, :length => 400)) %></tr>
    <tr>
      <% if current_user && post.user_id == current_user.id %>
        <%= link_to 'Edit', edit_post_path(post) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <span style="color: #666;">Total&nbsp;<%= post.comments.count %>&nbsp;comments.</span>
      <%= link_to "Show More ->", post_path(post.id), :class=>"pull-right" %>
    </tr>
    <hr style="width:100%">
  <% end %>
</table>
<%= link_to 'New Post', new_post_path %>
